.weather-label {
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
}

.lyrics-label {
    color: #ffd60a;
}

.all_boxes {
   background-color: #121212;
}



.zazu-label {
   font-size: 39px;
}

.cat-label {
   font-size: 20px;
}
